*.bak
*.egg-info
*.pyc
*.swp
*ZZZ
.committed
.coverage
.dvczignore*
.git
.merkle
.posted
.sharedev
.svn*
.tmp
.tox
.wrapped
.xlattice
CVS
MANIFEST
THIS.IS.A.GIT*
__pycache__
build
cover
dist
htmlcov
junk*
tmp
