# see http://docs.python.org/distutils/sourcedist.html

include netDistrib.conf
include .gitignore auto8it countem installit test.all
include CHANGES README.md TODO
include merkleize
recursive-include ghpDoc *
recursive-include merkletree *.py
recursive-include testData *
global-exclude junk* .*swp 
prune   .svn


