# see http://docs.python.org/distutils/sourcedist.html

include netDistrib.conf
include .gitignore auto8it countem installit test.all
include CHANGES README.md TODO
include src/merkleize
recursive-include ghpDoc *
recursive-include src/merkletree tests
global-exclude junk* .*swp 
prune   .svn


